<!DOCTYPE html>
<html lang='en-us'>
<head>
  <meta charset='utf-8'>
  <title>Job or Bust</title>
  <meta name='description' content='A web application that aims to make it easier - and perhaps even more enjoyable - to manage the job hunt.'>

  <link rel='shortcut icon' type='image/png' href='<%= asset_path 'favicon.png' %>'/>
  <link rel='shortcut icon' type='image/png' href='<%= asset_url 'favicon.png' %>'/>
  <meta name='viewport' content='width=device-width, initial-scale=1'>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id='container' class='texture'>
    <%= render 'layouts/nav' %>

    <%= render 'layouts/flash' unless flash.empty? %>

    <div id='yield' class='wrapper'>
      <%= yield %>
    </div>
  </div>

  <%= render 'layouts/footer' %>

</body>
</html>
